<div class="container mt-[100px] w-full mx-auto">
    <div class="max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8">
      <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-gray-800">Top 3 User Scores</h1>
        <p class="text-gray-600 mt-2">
          Explore the achievements of the top three scorers and get inspired by their journey in the Hunters League.
        </p>
      </div>
    </div>

    
    <div *ngIf="!isDataLoading" class="h-[60vh] flex w-64 animate-pulse gap-2 p-4">
      <div class="h-12 w-12 rounded-full bg-slate-400"></div>
      <div class="flex-1">
        <div class="mb-1 h-5 w-3/5 rounded-lg bg-slate-400 text-lg"></div>
        <div class="h-5 w-[90%] rounded-lg bg-slate-400 text-sm"></div>
      </div>
      <div class="absolute bottom-5 right-0 h-4 w-4 rounded-full bg-slate-400"></div>
    </div>


    <div *ngIf="isDataLoading"  class="px-4 py-16 sm:px-6 lg:px-8">
      <div class="relative">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div
            *ngFor="let user of users, let i = index"
            class="shadow cursor-pointer hover:shadow-lg relative bg-white p-8 rounded-lg shadow-md transform transition-transform duration-300 hover:translate-y-[-20px] hover:scale-105 group"
          >
            <span class="absolute -top-4 right-4 text-9xl font-bold text-gray-100 group-hover:text-[#6A42C2] select-none">
              {{ i + 1 }}
            </span>
  
            <div class="relative space-y-6">
              <h3 class="text-xl font-semibold text-gray-900">
                {{ user.user.firstName }} {{ user.user.lastName }}
              </h3>
              <p class="text-gray-500 text-sm">
                Nationality: {{ user.user.nationality }}
              </p>
              <p class="text-gray-500 text-sm">
                Join Date: {{ user.user.joinDate | date }}
              </p>
              <p class="text-gray-500 text-sm">
                Competitions: {{ user.competitions.length }}
              </p>
              <p class="text-gray-500 text-sm">
                Hunted: {{ calculateHunted(user) }}
              </p>
              <p class="text-[#6A42C2] font-bold text-sm">
                Total Score: {{ calculateTotalScore(user) }}
              </p>
  

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>