<div class="relative">
  


  <div class="flex flex-wrap justify-between items-center mb-6 gap-4 px-4 md:px-6">
    <div class="flex flex-wrap gap-4 items-center">
      <div class="flex items-center">
        <label for="elementsPerPage" class="text-sm font-semibold text-gray-700">Show</label>
        <select
          [(ngModel)]="size"
          (change)="loadSpecies()"
          id="elementsPerPage"
          class="ml-2 rounded-md border-gray-300 py-2 px-3 text-sm focus:ring-blue-500 focus:border-blue-500"
        >
          <option *ngFor="let option of [5, 10, 20, 50]" [value]="option">{{ option }}</option>
        </select>
        <span class="text-sm font-semibold text-gray-700">entries</span>
      </div>
      <div class="relative w-full md:w-auto">
        <input
          type="text"
          placeholder="Search species..."
          [(ngModel)]="searchName"
          (input)="loadSpecies()"
          class="w-full md:w-72 rounded-md border-gray-300 py-2 px-3 pr-10 text-sm focus:ring-blue-500 focus:border-blue-500"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="absolute right-3 top-2.5 w-5 h-5 text-gray-400 pointer-events-none"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 16l-4-4m0 0l4-4m-4 4h16"
          />
        </svg>
      </div>
    </div>
    <app-create-species></app-create-species>
  </div>







    <div class="p-6 overflow-scroll px-0">
      <table class="w-full min-w-max table-auto text-left">
        <thead>
          <tr>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">
                Name
              </p>
            </th>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">
                Category
              </p>
            </th>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">
                Minimum Weight
              </p>
            </th>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">
                Difficulty
              </p>
            </th>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">
                Points
              </p>
            </th>
            <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">
                Actions
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let specie of species">
            <td class="p-4 border-b border-blue-gray-50">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">
                {{ specie.name }}
              </p>
            </td>
            <td class="p-4 border-b border-blue-gray-50">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">
                {{ specie.category }}
              </p>
            </td>
            <td class="p-4 border-b border-blue-gray-50">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">
                {{ specie.minimumWeight }}
              </p>
            </td>
            <td class="p-4 border-b border-blue-gray-50">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">
                {{ specie.difficulty }}
              </p>
            </td>
            <td class="p-4 border-b border-blue-gray-50">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">
                {{ specie.points }}
              </p>
            </td>
            <td class="p-4 border-b border-blue-gray-50">
              <div class="flex gap-2">
                <app-update-species [specie]="specie"></app-update-species>
                <app-delete-species [specie]="specie"></app-delete-species>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="flex justify-end mb-4 mt-4">
        <div class="pagination-controls flex items-center space-x-4">
            <button
              class="rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800 focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              [disabled]="page === 0"
              (click)="onPageChange(page - 1)"
            >
              Previous
            </button>
          
            <span class="text-sm text-slate-600">
              Page {{ page + 1 }} of {{ totalPages }}
            </span>
          
            <button
              class="rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800 focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              [disabled]="page + 1 >= totalElements / size"
              (click)="onPageChange(page + 1)"
            >
              Next
            </button>
        </div>
    </div>
    </div>
  </div>
  