<div class="font-[sans-serif] max-w-4xl flex items-center mx-auto md:h-screen p-4">
    <div class="grid md:grid-cols-3 items-center shadow-[0_2px_10px_-3px_rgba(106,66,194,0.3)] rounded-xl overflow-hidden">
      <div class="max-md:order-1 flex flex-col justify-center space-y-16 max-md:mt-16 min-h-full bg-gradient-to-r from-[#6A42C2] to-[#5b36a3] lg:px-8 px-4 py-4">
        <div>
          <h4 class="text-white text-lg font-semibold">Create Your Account</h4>
          <p class="text-[13px] text-[#D1BDE3] mt-3 leading-relaxed">
            Welcome to our registration page! Get started by creating your account.
          </p>
        </div>
        <div>
          <h4 class="text-white text-lg font-semibold">Simple & Secure Registration</h4>
          <p class="text-[13px] text-[#D1BDE3] mt-3 leading-relaxed">
            Our registration process is designed to be straightforward and secure. We prioritize your privacy and data security.
          </p>
        </div>
      </div>
  
      <form class="md:col-span-2 w-full py-6 px-6 sm:px-16"
      [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
        <div class="mb-6">
          <h3 class="text-[#6A42C2] text-2xl font-bold">Create an account</h3>
        </div>
  
        <div class="space-y-6">
        
  
          <div>
            <label  [ngClass]="{ 'text-red-500': isErrorInUsername }" class="text-[#6A42C2] text-sm mb-2 block">Username</label>
            <div class="relative flex items-center">
              <input
                formControlName="username"
                type="text"
                [ngClass]="{ 'border-red-500 focus:border-red-500': isErrorInUsername }"
                (ngModelChange)="isErrorInUsername = false"
                class="text-[#6A42C2] bg-white border border-[#6A42C2] w-full text-sm px-4 py-2.5 rounded-md outline-[#6A42C2]"
                placeholder="Enter username"
              />
            </div>
          </div>
          <div>
            <label  [ngClass]="{ 'text-red-500': isErrorInEmail }" class="text-[#6A42C2] text-sm mb-2 block">Email</label>
            <div class="relative flex items-center">
              <input
                formControlName="email"
                type="email"
                [ngClass]="{ 'border-red-500 focus:border-red-500': isErrorInEmail }"
                (ngModelChange)="isErrorInEmail = false"
                class="text-[#6A42C2] bg-white border border-[#6A42C2] w-full text-sm px-4 py-2.5 rounded-md outline-[#6A42C2]"
                placeholder="Enter email"
              />
            </div>
          </div>
  
          <div>
            <label [ngClass]="{ 'text-red-500': isErrorInPassword }" class="text-[#6A42C2] text-sm mb-2 block">Password</label>
            <div class="relative flex items-center">
              <input
                formControlName="password"
                [(ngModel)]="password"
                [ngClass]="{ 'border-red-500 focus:border-red-500': isErrorInPassword }"
                (ngModelChange)="isErrorInPassword = false; "
                
                type="password"
                class="text-[#6A42C2] bg-white border border-[#6A42C2] w-full text-sm px-4 py-2.5 rounded-md outline-[#6A42C2]"
                placeholder="Enter password"
              />
            </div>
          </div>
  

  
          
  
         
  
          <div class="flex items-center">
            <input
              id="remember-me"
              name="remember-me"
              type="checkbox"
              class="h-4 w-4 shrink-0 text-[#6A42C2] focus:ring-[#6A42C2] border-[#6A42C2] rounded"
            />
            <label for="remember-me" class="ml-3 block text-sm text-[#6A42C2]">
              I accept the
              <a href="javascript:void(0);" class="text-[#6A42C2] font-semibold hover:underline ml-1">Terms and Conditions</a>
            </label>
          </div>
        </div>

        <div class="!mt-12">
          <button
            type="submit"
            class="w-full shadow-xl py-2.5 px-4 text-sm tracking-wide rounded-md text-white bg-[#6A42C2] hover:bg-[#5b36a3] focus:outline-none"
          >
            Create an account
          </button>
        </div>
  
        <p class="text-[#6A42C2] text-sm mt-6 text-center">
          Already have an account?
          <a routerLink="/login" class="text-[#6A42C2] font-semibold hover:underline">Login here</a>
        </p>
      </form>
    </div>
  </div>
