<div class="container mt-[100px] mx-auto">
  <div class="max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <!-- Card for each species -->
      <div
        *ngFor="let species of speciesList"
        class="bg-white rounded-2xl overflow-hidden shadow-md cursor-pointer hover:shadow-lg transition-all group relative transform transition-transform duration-300 hover:translate-y-[-20px] hover:scale-105 group"
      >
        <div class="aspect-[4/3] relative bg-gray-200">
          <img
          [src]="species.category === 'SEA' ? 'assets/sea.png' : species.category === 'BIRD' ? 'assets/brid.png' : species.category === 'BIG_GAME' ? 'assets/big.png' : 'assets/default.png'" 
            alt="{{ species.name }}"
            class="absolute inset-0 h-full w-full object-cover filter brightness-50"
          />
        
          <div class="absolute inset-0 flex items-center justify-center">
            <p class="text-white font-bold text-2xl">{{ species.category }}</p>
          </div>
        </div>
  
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">
            {{ species.name }}
          </h3>
  
          <p class="text-gray-600 text-sm mb-2">
            <strong>Minimum Weight:</strong> {{ species.minimumWeight }} kg
          </p>
          <p class="text-sm mb-2">
            <strong>
              Difficulty: 
              <span [class]="species.difficulty === 'LEGENDARY' ? 'text-red-500' : species.difficulty === 'EPIC' ? 'text-orange-500' : species.difficulty === 'RARE' ? 'text-yellow-500' : 'text-green-500'">
                {{ species.difficulty }}
              </span>
            </strong>
          </p>
          <p class="text-gray-600 text-sm mb-2">
            <strong>Hunted :</strong> {{ species.minimumWeight }} times
          </p>
          
          <div
            class="absolute top-4 right-4 bg-[#6A42C2] text-white text-xs font-medium px-3 py-2 rounded-lg"
          >
            {{ species.points }} Points
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>