<section class="bg-white-900 py-8">
    <div class="container mx-auto px-6">
      <div class="text-center mb-12" data-aos="fade-up">
        <h2 class="text-4xl font-bold text-black mb-4">Our Services</h2>
        <p class="text-gray-400 max-w-2xl mx-auto">
          Discover the various services we offer to enhance your hunting experience and support your journey in the Hunters League.
        </p>
      </div>
      
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
        <div *ngFor="let service of services" class="cursor-pointer bg-white rounded-2xl shadow-sm shadow-gray-300 outline outline-slate-400 -outline-offset-8" data-aos="zoom-in">
          <div class="group overflow-hidden relative after:duration-500 before:duration-500 hover:after:duration-500 hover:after:translate-x-24 hover:before:translate-y-12 hover:before:-translate-x-32 hover:duration-500 after:absolute after:w-12 after:h-12 after:bg-gray-300 after:rounded-full after:blur-xl after:bottom-8 after:right-8 before:absolute before:w-12 before:h-12 before:bg-gray-200 before:rounded-full before:blur-xl before:top-8 before:right-8 hover:rotate-12 flex justify-center items-center h-56 w-full bg-white rounded-2xl outline outline-slate-400 -outline-offset-8 transition-transform duration-500 ease-in-out hover:scale-105">
            <div class="z-10 flex flex-col items-center gap-2">
              <span class="text-gray-900 text-2xl font-bold">{{ service.title }}</span>
              <p class="text-gray-900 text-center px-4">{{ service.description }}</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>