
<div class="flex justify-end mb-4">
  <div class="flex flex-wrap gap-4 items-center">
    <div class="flex items-center">
      <label for="elementsPerPage" class="text-sm font-semibold text-gray-700">Show</label>
      <select
        [(ngModel)]="size"
        (change)="loadUsers()"
        id="elementsPerPage"
        class="ml-2 rounded-md border-gray-300 py-2 px-3 text-sm focus:ring-blue-500 focus:border-blue-500"
      >
        <option *ngFor="let option of [5, 10, 20, 50]" [value]="option">{{ option }}</option>
      </select>
      <span class="text-sm font-semibold text-gray-700">entries</span>
    </div>
    <form [formGroup]="searchUserForm" class="relative w-full md:w-auto">
      <input
        type="text"
        placeholder="Search species..."
        formControlName="username"
        (input)="loadUsers()"
        class="w-full md:w-72 rounded-md border-gray-300 py-2 px-3 pr-10 text-sm focus:ring-blue-500 focus:border-blue-500"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="absolute right-3 top-2.5 w-5 h-5 text-gray-400 pointer-events-none"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 16l-4-4m0 0l4-4m-4 4h16"
        />
      </svg>
    </form>
  </div>
    <app-create-user></app-create-user>
  </div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 p-6">
    <div *ngFor="let user of users"
        class="
      hover:shadow-lg shadow-md
      group   before:bg-gradient-to-bl from-sky-200 via-orange-200 to-orange-700 before:absolute before:top-0 w-64 h-57.6 relative bg-slate-50 flex flex-col items-center justify-center gap-2 text-center rounded-2xl overflow-hidden">
        <div
            class="w-16.4 h-16.4 bg-blue-700/20 mt-6.4 rounded-full border-4 border-slate-50 z-10 duration-500">
            <img src="assets/ME.png" class="z-500" width="150px" alt="">
        </div>
        <div class="z-10 group-hover:-translate-y-2 transition-all duration-500">
            <span class="text-sm font-semibold">{{ user.username }}</span>
            <p class="text-sm">{{ user.role }}</p>
           
        </div>
        <div
        class="flex items-center justify-between ">
        <app-update-user [user]="user"></app-update-user>
        <app-detail-user [user]="user"></app-detail-user>
        <app-delete-user [user]="user"></app-delete-user>
    </div>
    </div>
</div>
<div class="flex justify-end mb-4 mt-4">
    <div class="pagination-controls flex items-center space-x-4">
        <button
          class="rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800 focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          [disabled]="page === 0"
          (click)="onPageChange(page - 1)"
        >
          Previous
        </button>
      
        <span class="text-sm text-slate-600">
          Page {{ page + 1 }} of {{ totalPages }}
        </span>
      
        <button
          class="rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800 focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          [disabled]="page + 1 >= totalElements / size"
          (click)="onPageChange(page + 1)"
        >
          Next
        </button>
    </div>
</div>