<div class="relative">
   
    <div class="flex justify-end ">
        <app-create-competitions></app-create-competitions>
      </div>

      
    <div class="p-6 overflow-scroll px-0">
        <table class="w-full min-w-max table-auto text-left">
            <thead>
                <tr>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Code</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Location</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Date</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Species Type</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Participants</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Registration</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Actions</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let competition of competitions">
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">{{ competition.code }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{ competition.location }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{ competition.date | date: 'medium' }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{ competition.speciesType }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{ competition.minParticipants }} - {{ competition.maxParticipants }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <span
                            class="py-1 px-2 text-xs rounded-md"
                            [ngClass]="{
                                'bg-green-500/20 text-green-900': competition.openRegistration,
                                'bg-red-500/20 text-red-900': !competition.openRegistration
                            }"
                        >
                            {{ competition.openRegistration ? 'Open' : 'Closed' }}
                        </span>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <div class="flex gap-2">
                            
                                <app-update-competitions [competition]="competition"></app-update-competitions>
                                <app-delete-competitions [competition]="competition"></app-delete-competitions>
                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-end mb-4 mt-4">
            <div class="pagination-controls flex items-center space-x-4">
                <button
                  class="rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800 focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  [disabled]="page === 0"
                  (click)="onPageChange(page - 1)"
                >
                  Previous
                </button>
              
                <span class="text-sm text-slate-600">
                  Page {{ page + 1 }} of {{ totalPages }}
                </span>
              
                <button
                  class="rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800 focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  [disabled]="page + 1 >= totalElements / size"
                  (click)="onPageChange(page + 1)"
                >
                  Next
                </button>
            </div>
        </div>
          
    </div>
</div>