<div class="relative">
   
    <div class="flex justify-end mb-4">
        <app-create-competitions></app-create-competitions>
      </div>

      
    <div class="p-6 overflow-scroll px-0">
        <table class="w-full min-w-max table-auto text-left">
            <thead>
                <tr>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Code</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Location</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Date</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Species Type</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Participants</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Registration</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Actions</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let competition of competitions">
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">{{ competition.code }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{ competition.location }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{ competition.date | date: 'medium' }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{ competition.speciesType }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{ competition.minParticipants }} - {{ competition.maxParticipants }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <span
                            class="py-1 px-2 text-xs rounded-md"
                            [ngClass]="{
                                'bg-green-500/20 text-green-900': competition.openRegistration,
                                'bg-red-500/20 text-red-900': !competition.openRegistration
                            }"
                        >
                            {{ competition.openRegistration ? 'Open' : 'Closed' }}
                        </span>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <div class="flex gap-2">
                            <button
                                class="flex justify-center items-center gap-2 px-5 py-2 cursor-pointer rounded-md shadow-2xl text-white font-semibold bg-gradient-to-r from-[#38bdf8] via-[#0ea5e9] to-[#0284c7] hover:shadow-xl hover:shadow-blue-500 hover:scale-105 duration-300 hover:from-[#0284c7] hover:to-[#38bdf8]"
                                >
                                <svg viewBox="0 0 15 15" class="w-5 fill-white">
                                    <svg
                                    class="w-6 h-6"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    >
                                    <path
                                        d="M16.862 3.487a2.108 2.108 0 012.977 2.978l-8.03 8.03a2.108 2.108 0 01-1.49.617H7.024a.75.75 0 01-.75-.75v-2.295c0-.56.222-1.098.617-1.492l8.03-8.03zm0 0L14.5 5.85"
                                        stroke-linejoin="round"
                                        stroke-linecap="round"
                                    ></path>
                                    </svg>
                                    Update
                                </svg>
                                </button>

                                <app-delete-competitions [competition]="competition"></app-delete-competitions>
                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>