<header class="fixed top-0 left-0 w-full bg-white shadow-md z-50">
    <div class="container mx-auto flex items-center justify-between py-4 px-6">
      <!-- Logo Section -->
      <div routerLink="" class=" cursor-pointer flex items-center">
        <span class="text-2xl font-bold">
          <span class="text-[#6A42C2]">Hunters</span>
          <span class="text-black">-League</span>
        </span>
      </div>
      <nav class="hidden md:flex space-x-6">
        <a
          routerLink=""
          [ngClass]="{ 'border-b-2 border-[#6A42C2] text-[#6A42C2]': activeLink === 'home' }"
          (click)="setActiveLink('home')"
          class="text-sm font-semibold cursor-pointer pb-1 hover:border-b-2 hover:border-[#6A42C2] transition-all duration-300"
        >
          Home
        </a>
        <a
          routerLink="competitions"
          [ngClass]="{ 'border-b-2 border-[#6A42C2] text-[#6A42C2]': activeLink === 'competitions' }"
          (click)="setActiveLink('competitions')"
          class="text-sm font-semibold cursor-pointer hover:text-[#6A42C2] pb-1 hover:border-b-2 hover:border-[#6A42C2] transition-all duration-300"
        >
          Competitions
        </a>
        <a
          routerLink="species"
          [ngClass]="{ 'border-b-2 border-[#6A42C2] text-[#6A42C2]': activeLink === 'species' }"
          (click)="setActiveLink('species')"
          class="text-sm font-semibold cursor-pointer hover:text-[#6A42C2] pb-1 hover:border-b-2 hover:border-[#6A42C2] transition-all duration-300"
        >
          Species
        </a>
        <a
          routerLink="results"
          [ngClass]="{ 'border-b-2 border-[#6A42C2] text-[#6A42C2]': activeLink === 'results' }"
          (click)="setActiveLink('results')"
          class="text-sm font-semibold cursor-pointer hover:text-[#6A42C2] pb-1 hover:border-b-2 hover:border-[#6A42C2] transition-all duration-300"
        >
          Results
        </a>
        <a
          routerLink="top-three-user"
          [ngClass]="{ 'border-b-2 border-[#6A42C2] text-[#6A42C2]': activeLink === 'top-three-user' }"
          (click)="setActiveLink('top-three-user')"
          class="text-sm cursor-pointer font-semibold hover:text-[#6A42C2] pb-1 hover:border-b-2 hover:border-[#6A42C2] transition-all duration-300"
        >
          Top Three User
        </a>
        <a
          *ngIf="getToken() && (getRole()==='ADMIN' || getRole()==='JURY')"
          routerLink="admin"
          [ngClass]="{ 'border-b-2 border-[#6A42C2] text-[#6A42C2]': activeLink === 'admin' }"
          (click)="setActiveLink('admin')"
          class="text-sm cursor-pointer font-semibold hover:text-[#6A42C2] pb-1 hover:border-b-2 hover:border-[#6A42C2] transition-all duration-300"
        >
          Admin
        </a>
      </nav>

      <div 
      class="hidden md:block">
      
      <button 
          *ngIf="!getToken()"
            routerLink="login"
        class="smky-btn3 relative font-semibold hover:text-white py-2 px-6 after:absolute after:h-1 after:hover:h-[200%] transition-all duration-500 hover:transition-all hover:duration-500 after:transition-all after:duration-500 after:hover:transition-all after:hover:duration-500 overflow-hidden z-20 after:z-[-20] after:bg-[#6A42C2] after:rounded-t-full after:w-full after:bottom-0 after:left-0 text-gray-600"
        >Sign In
      </button>

      <button 
          *ngIf="getToken()"
            routerLink="logout"
        class="smky-btn3 relative font-semibold hover:text-white py-2 px-6 after:absolute after:h-1 after:hover:h-[200%] transition-all duration-500 hover:transition-all hover:duration-500 after:transition-all after:duration-500 after:hover:transition-all after:hover:duration-500 overflow-hidden z-20 after:z-[-20] after:bg-[#6A42C2] after:rounded-t-full after:w-full after:bottom-0 after:left-0 text-gray-600"
        > Sign Out
      </button>
      </div>
      
      

  
      <button class="md:hidden focus:outline-none" (click)="toggleMenu()">
        <svg *ngIf="!isMenuOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
        <svg *ngIf="isMenuOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  
    <div
      class="block md:hidden fixed inset-0 bg-white z-50 h-full w-3/4 max-w-xs shadow-lg transform transition-transform duration-500 ease-out"
      [ngClass]="{
        'translate-x-0': isMenuOpen,
        '-translate-x-full': !isMenuOpen
      }"
    >
    
      <div class="flex items-center justify-between p-4">
        <span class="text-2xl font-bold">
          <span class="text-[#6A42C2]">Hunters</span>
          <span class="text-black">-League</span>
        </span>
      </div>
      <hr class="border-t border-[#6A42C2] w-full my-2" />
  
      
      <nav class="flex flex-col space-y-4 py-6 px-4">
        <a
          routerLink=""
          [ngClass]="{ 'border-l-4 border-[#6A42C2] text-[#6A42C2]': activeLink === 'home' }"
          (click)="setActiveLink('home')"
          class="text-sm font-semibold pl-4 cursor-pointer hover:border-l-4 hover:border-[#6A42C2] transition-all duration-300"
        >
          Home
        </a>
        <a
          routerLink="competitions"
          [ngClass]="{ 'border-l-4 border-[#6A42C2] text-[#6A42C2]': activeLink === 'competitions' }"
          (click)="setActiveLink('competitions')"
          class="text-sm font-semibold pl-4 cursor-pointer hover:border-l-4 hover:border-[#6A42C2] transition-all duration-300"
        >
          Competitions
        </a>
        <a
          routerLink="species"
          [ngClass]="{ 'border-l-4 border-[#6A42C2] text-[#6A42C2]': activeLink === 'species' }"
          (click)="setActiveLink('species')"
          class="text-sm font-semibold pl-4 cursor-pointer hover:border-l-4 hover:border-[#6A42C2] transition-all duration-300"
        >
          Species
        </a>
        <a
          routerLink="results"
          [ngClass]="{ 'border-l-4 border-[#6A42C2] text-[#6A42C2]': activeLink === 'results' }"
          (click)="setActiveLink('results')"
          class="text-sm font-semibold pl-4 cursor-pointer hover:border-l-4 hover:border-[#6A42C2] transition-all duration-300"
        >
          Results
        </a>
        <a
          routerLink="top-three-user"
          [ngClass]="{ 'border-l-4 border-[#6A42C2] text-[#6A42C2]': activeLink === 'top-three-user' }"
          (click)="setActiveLink('top-three-user')"
          class="text-sm font-semibold pl-4 cursor-pointer hover:border-l-4 hover:border-[#6A42C2] transition-all duration-300"
        >
          Top Three User
        </a>

        <a
          *ngIf="getToken() && (getRole()==='ADMIN' || getRole()==='JURY')"
          routerLink="admin"
          routerLink="top-three-user"
          [ngClass]="{ 'border-b-2 border-[#6A42C2] text-[#6A42C2]': activeLink === 'admin' }"
          (click)="setActiveLink('admin')"
          class="text-sm font-semibold pl-4 cursor-pointer hover:border-l-4 hover:border-[#6A42C2] transition-all duration-300"
        >
        Admin
        </a>

      
        <button 
        *ngIf="!getToken()"
          routerLink="login"
          class="smky-btn3 relative font-semibold hover:text-white py-2 px-6 after:absolute after:h-1 after:hover:h-[200%] transition-all duration-500 hover:transition-all hover:duration-500 after:transition-all after:duration-500 after:hover:transition-all after:hover:duration-500 overflow-hidden z-20 after:z-[-20] after:bg-[#6A42C2] after:rounded-t-full after:w-full after:bottom-0 after:left-0 text-gray-600"
          >Sign In
        </button>

        <button 
            *ngIf="getToken()"
              routerLink="logout"
          class="smky-btn3 relative font-semibold hover:text-white py-2 px-6 after:absolute after:h-1 after:hover:h-[200%] transition-all duration-500 hover:transition-all hover:duration-500 after:transition-all after:duration-500 after:hover:transition-all after:hover:duration-500 overflow-hidden z-20 after:z-[-20] after:bg-[#6A42C2] after:rounded-t-full after:w-full after:bottom-0 after:left-0 text-gray-600"
          > Sign Out
        </button>

      </nav>
    </div>
  </header>
