<div class="relative">
   
    <div class="flex justify-end mb-4">
        <div class="flex flex-wrap gap-4 items-center">
            <div class="flex items-center">
              <label for="elementsPerPage" class="text-sm font-semibold text-gray-700">Show</label>
              <select
                [(ngModel)]="size"
                (change)="loadHunts()"
                id="elementsPerPage"
                class="ml-2 rounded-md border-gray-300 py-2 px-3 text-sm focus:ring-blue-500 focus:border-blue-500"
              >
                <option *ngFor="let option of [5, 10, 20, 50]" [value]="option">{{ option }}</option>
              </select>
              <span class="text-sm font-semibold text-gray-700">entries</span>
            </div>
          </div>
        <app-create-hunt></app-create-hunt>
    </div>

      
    <div class="p-6 overflow-scroll px-0">
        <table class="w-full min-w-max table-auto text-left">
            <thead>
                <tr>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Name species</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Category</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Difficulty</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Weight</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Min weight</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Points</p>
                    </th>
                    <th class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
                        <p class="block antialiased font-sans text-sm text-blue-gray-900 font-normal leading-none opacity-70">Actions</p>
                    </th>
                </tr>
            </thead>
            <div *ngIf="!isDataLoading" class="h-[60vh] relative flex w-64 animate-pulse gap-2 p-4">
                <div class="h-12 w-12 rounded-full bg-slate-400"></div>
                <div class="flex-1">
                  <div class="mb-1 h-5 w-3/5 rounded-lg bg-slate-400 text-lg"></div>
                  <div class="h-5 w-[90%] rounded-lg bg-slate-400 text-sm"></div>
                </div>
                <div class="absolute bottom-5 right-0 h-4 w-4 rounded-full bg-slate-400"></div>
            </div>
            <tbody *ngIf="isDataLoading">
                <tr *ngFor="let hunt of Hunts">
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">{{ hunt.species.name }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{ hunt.species.category }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{ hunt.species.difficulty  }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{ hunt.weight }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block antialiased font-sans text-sm leading-normal text-red-500 font-bold">{{ hunt.species.minimumWeight }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
            
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">{{ hunt.species.points }}</p>
                    </td>
                    <td class="p-4 border-b border-blue-gray-50">
                        <div class="flex gap-2">
                            <app-update-hunt [hunt]="hunt"></app-update-hunt>
                            <app-delete-hunt [hunt]="hunt"></app-delete-hunt> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex justify-end mb-4 mt-4">
        <div class="pagination-controls flex items-center space-x-4">
            <button
              class="rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800 focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              [disabled]="page === 0"
              (click)="onPageChange(page - 1)"
            >
              Previous
            </button>
          
            <span class="text-sm text-slate-600">
              Page {{ page + 1 }} of {{ totalPages }}
            </span>
          
            <button
              class="rounded-md border border-slate-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-slate-800 hover:border-slate-800 focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              [disabled]="page + 1 >= totalElements / size"
              (click)="onPageChange(page + 1)"
            >
              Next
            </button>
        </div>
    </div>
</div>