<div class="relative">
  <button
    (click)="toggleModal(true)"
    class="text-yellow-500 hover:text-yellow-600 mx-2 transition-all duration-200 ease-in-out hover:rotate-12 focus:outline-none focus:ring-2 focus:ring-yellow-500 rounded-full"
    title="Update"
  >
    <svg
      stroke="currentColor"
      viewBox="0 0 24 24"
      fill="none"
      class="h-6 w-6"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"
        stroke-width="2"
        stroke-linejoin="round"
        stroke-linecap="round"
      ></path>
      <circle cx="12" cy="12" r="3"></circle>
    </svg>
  </button>

  <div
    *ngIf="isModalOpen"
    class="fixed inset-0 bg-slate-900/20 backdrop-blur grid place-items-center z-50 cursor-pointer"
    (click)="toggleModal(false)"
  >
    <div
      class="bg-white p-6 rounded-lg w-full max-w-lg shadow-xl relative cursor-default"
      (click)="$event.stopPropagation()"
    >
      <div class="avatar w-full pt-5 flex items-center justify-center flex-col gap-1">
        <div
          class="img_container w-full flex items-center justify-center relative z-40"
        >
          <svg
            class="size-36 z-40 border-4 border-white rounded-full transition-all duration-300"
            id="avatar"
            viewBox="0 0 61.8 61.8"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle fill="#6A42C2" r="30.9" cy="30.9" cx="30.9"></circle>
            <text
              x="50%"
              y="50%"
              text-anchor="middle"
              fill="#fff"
              dy=".3em"
              font-size="16"
              font-family="Arial"
            >
              {{ user.firstName.charAt(0) }}{{ user.lastName.charAt(0) }}
            </text>
          </svg>
        </div>
      </div>
      <div class="headings text-center leading-4">
        <p class="text-xl font-serif font-semibold text-[#434955]">
          {{ user.firstName }} {{ user.lastName }}
        </p>
        <p class="text-sm font-semibold text-[#434955]">
          {{ user.role }}
        </p>
      </div>

      <ul class="flex flex-col items-start gap-2 pb-3">
        <li>
          <p class="pt-3">ID: {{ user.cin }}</p>
        </li>
        <li>
          <p class="pt-3">Email: {{ user.email }}</p>
        </li>
        <li>
          <p class="pt-3">Nationality: {{ user.nationality }}</p>
        </li>
        <li>
          <p class="pt-3">License Expiration Date: {{ user.licenseExpirationDate }}</p>
        </li>
        <li>
          <p class="pt-3">Joined In: {{ user.joinDate }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
